<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuesta problema 1</title>
</head>
<body>
    <h2>Escogiste la operacion {{ title }}</h2>
    <p>
        {% for i in operacion %}
            {% if i == 'suma' %}
            <h2>{{numero1}} + {{ numero2 }} = {{ suma }}</h2>
            {% elif i == 'resta' %}
            <h2>{{ numero1 }} - {{ numero2 }} = {{ resta }}</h2>
            {% else %}
            <h2>{{ numero1 }} * {{ numero2 }} = {{ multiplicacion }}</h2>
            {% endif %}
        {% endfor %}
    </p>
</body>
</html>